.posts-title{
  font-size: 2em;
  font-weight: bold;
  color:#888888;
}

.post-container{
  display: flex;
  position: relative;
  padding: 20px;
  margin-top: 20px;
}

.post-left{
  margin-right: 10px;
}

.post-right{
  bottom: 30px;
  position: absolute;
  left: 12px;
}

.post-menu{
  top: 20px;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.post-name{
  font-size: 1.3em;
  color:#0090ff;
  margin-left: 6px;
}

.post-date{
  margin-left: 6px;
  margin-bottom: 20px;
}
