.profile-header{
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.profile-name{
  font-weight: bold;
  font-size: 2em;
}

.profile-bg{
  color : #ffffff;
  margin-left: auto;
  padding: 10px 12px;
  background-color: #f23030;
  font-size: 1.75em;
  font-weight: bold;
  border-radius: 10px;
}

.profile-body{
  margin-left: 20px;
  margin-top: 20px;
  font-size: 1.2em;
}

.profile-entry-container{
  display: flex;
  align-items: center;
  padding: 5px;
}

.square {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
}
/* 
.content {
  position: absolute;
  top: 0;
  left: 0;
} */